.estimate_page{
  display: flex;
  flex-direction: column;
}

.estimate_page_container{
  display: flex;
}

.estimate_subpage_table{
  overflow-y: scroll;
  // overflow-x: visible;
  height: calc(100vh - 65px);
  width: 100%;
}

.estimate_subpage_viewer {
  height: calc(100vh - 65px);
  background-color: #dadada;
  position: relative;
  width: 100vw;
}

.estimate_subpage_toolbar{
  background-color: #3f6183
}

.estimate-table{
  background-color: white;
}

.test-hover{
  &:hover{
    background: rgb(249, 162, 92) !important;
    cursor: pointer;
  }

}

.modal-row-options{
  top: 0;
  left: 0;
  position: absolute;
  background: red;
}
